<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Fun Ray Stuff</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
<div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type = text/javascript src="http://127.0.0.1:8080/node_modules/p5/lib/p5.js"></script>
    <script type = text/javascript src="http://127.0.0.1:8080/views/canvas.js"></script>
</div>
</body>
</html>
